/* ContactUs.css */

.contact-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 18px;
  }
  
  .contact-form {
    margin-top: 40px;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  